<div class="player" #player>
    <div class="waves">
        <div #zoomView></div>
        <div #overView></div>
        <audio #audio></audio>
    </div>


    <div class="controls" *ngIf="peaksReady">

        <div class="control" (click)="togglePlay()">
            play/pause
        </div>

        <div class="control" (click)="toggleMute()">
            mute
        </div>

        
      
        <div class="control" (click)="zoom()">
            Zoom in
        </div>

        <div class="control" (click)="zoom(false)">
            Zoom out      
        </div>

    </div>
</div>

