:host
{


    height: 100%;
    width: 100%;
    
    .player
    {
        .waves
        {
            background-color: var(--color-neutral, rgba(127, 127, 127, 0.5));

            div:first-child
            {
                height: 70%;
                
                border-bottom: 0.1em solid white;
            }
            div
            {
                height: 30%;
                width: 100%;
            }
    
            height: calc(100% - 1.5em);
            width: 100%;
            min-height: 5em;
        }

        .controls
        {
            height: 1.5em;

            display: flex;
            justify-content: space-between;


            .control
            {
                width: 5em;
                min-width: 3em;
                position: relative;

                cursor: pointer;
                text-align: center;


                transition: all 250ms; 
                // box-shadow 400ms;

                margin-left: 0.5em;
            }



            .control:hover
            {
                background-color: gray;
                box-shadow: 0 0 0.5em black;
            }

        }


        height: 100%;
        width: 100%;

        overflow: auto;
        
    }
}